<!DOCTYPE HTML>
<html lang="tr">
<head>
    <title>@ViewBag.Title | Kısık Ses </title>
    <meta charset="utf-8" />
    <meta name="description" content="Dindar ve ateist ilahiyatçılar için felsefe ve teolojiden tartışmalı içerikler" />
    <meta name="author" content="Teist" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/Striped/assets/css/main.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" crossorigin="anonymous" />
</head>
<body class="is-preload">

    <!-- Content -->
    @RenderBody()

    <!-- Sidebar -->
    @await Component.InvokeAsync("RightSideBar")


    <!-- Scripts -->
    <script src="~/Striped/assets/js/jquery.min.js"></script>
    <script src="~/Striped/assets/js/browser.min.js"></script>
    <script src="~/Striped/assets/js/breakpoints.min.js"></script>
    <script src="~/Striped/assets/js/util.js"></script>
    <script src="~/Striped/assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", false)

</body>
</html>